.articles {
  height: 550px;                //ВРЕМЕННО
}

.article {
  height: 265px;                //ВРЕМЕННО
  background-color: #f2f2f2;    //ВРЕМЕННО
  margin: 0 20px 20px;

  .article__title {
    font-weight: normal;
    line-height: 1.54;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    color: @text-color2;
  }

  .article__text {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.29;
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 20px;
    color: @text-color3;
  }

  .article__button {
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: @text-color2;
  }


}
