.banner {
  position: relative;
  text-align: center;
  color: @text-color0;
  background: url(../img/index-background-mobile@1x.jpg) 0 0 no-repeat;

  .banner__title {
    padding: 25px 0;
    font-size: 36px;
    font-weight: normal;
  }

  .banner__description {
    font-size: 14px;
    text-transform: uppercase;
  }

  .banner__image-mobile {
    margin: 30px 20px 0;
  }

  .banner__image-tablet {
    display: none;
  }

  .banner__image-desktop {
    display: none;
  }

  .banner__button {
    width: 280px;
    margin-top: 3px;
    margin-bottom: 23px;
  }
}


@media (min-width: @tablet-width) {
  .banner {
    text-align: left;
    color: @text-color1;
    background: none;

    .banner__title {
      margin-top: 30px;
      margin-left: 118px;
      font-size: 60px;
      font-weight: normal;
      line-height: 1;
      max-width: 420px;
    }

    .banner__description {
      margin-top: 15px;
      margin-left: 118px;
      font-size: 20px;
      font-weight: normal;
      line-height: 1;
    }

    .banner__image-mobile {
      display: none;
    }

    .banner__image-tablet {
      display: block;
      margin: 20px auto 0;
    }

    .banner__image-desktop {}

    .banner__button {
      position: absolute;
      top: 250px;
      margin-left: 118px;
      width: 245px;
      padding: 13px 0;
      font-size: 20px;
      line-height: 1.29;
      z-index: 10;
    }
  }
}


@media (min-width: @desktop-width) {
  .banner {
    margin-bottom: 375px;

    &::after {
      content: "";
      position: absolute;
      top: -145px;
      right: 0;
      width: 720px;
      height: 700px;
      background: url(../img/index-background-desktop@1x.jpg) 100% 0 no-repeat;
      z-index: 1;
    }

    .banner__title {
      margin-left: 190px;
      padding-top: 75px;
    }

    .banner__description {
      margin-top: 15px;
      margin-left: 190px;
    }

    .banner__image-mobile {}

    .banner__image-tablet {
      display: none;
    }

    .banner__image-desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 560px;
      z-index: 10;
    }

    .banner__button {
      margin-top: 60px;
      margin-left: 190px;
    }
  }
}
